@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');

$text-color: rgba(0, 0, 0, 0.9);
// $text-font-size: 1.5vw;
$big-font-size: clamp(16px, 2.5vw, 22px);
$tiny-font-size: clamp(9px, 1vw, 11px);
$letter-spacing: 0.1rem;
$primary-color: red;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Stoke', serif;
  background-color: ghostwhite;

  h1 {
    font-size: $big-font-size;
    margin: 0;
    letter-spacing: 0.05rem;
    line-height: 1.8rem;
  }
  h2 {
    text-align: center;
  }
  h4 {
    margin: 0;
  }
  p {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    color: $text-color;
  }
  a {
    padding: 1px 3px;
    text-decoration: none;
    color: $text-color;
    // background-color: gray;

    &:hover {
      color: white;
      background-color: $primary-color;
    }
  }
}
.itens-do-menu-lateral {
  // border-bottom: 1px dotted gray;
  padding: 0;
  // margin-right: 20px;
  h5 {
    padding: 0;
    margin: 10px;
  }
}
.link {
  padding: 1px 3px;
  text-decoration: none;
  color: $text-color;
  // background-color: gray;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $primary-color;
  }
}

.header {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0px;
  // border-bottom: 2px solid gray;

  h1 {
    font-size: 48px;
  }
  .subtitle {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.App {
  /* text-align: center; */
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  height: 35px;
  margin-bottom: 10px;
}
.main {
  display: flex;

  .destaques {
    // border-radius: 5px;
    border-right: 1px dotted gray;
    margin: 0;
    padding: 0px;

    // background: linear-gradient(45deg, rgb(30, 110, 185), rgb(2, 175, 218));
    // box-shadow: 0 5px 9px rgba(128, 128, 128, 0.5);
    // color: white;
    width: 20vw;
    min-height: 75vh;
    // max-height: 100vh;
    font-weight: 300;
    overflow-y: hidden;
    h2 {
      font-size: 2vw;
    }
    h5 {
      letter-spacing: $letter-spacing;
    }
  }

  .img-small-container {
    height: 120px;
    width: 400px;
    overflow: hidden;
    .img-small {
      height: 100%;
    }
  }
  .img-headline-container {
    // background-color: aquamarine;
    // height: 300px;
    // width: 400px;
    overflow: hidden;
    margin-bottom: 15px;
    .img-headline {
      width: 100%;
    }
  }

  .principal {
    width: 60vw;
    margin: 20px;

    .author {
      margin: 0;
      padding: 0;
      font-size: $tiny-font-size;
    }

    .headline {
      // height: 250px;
      // background-color: white;
      border-top: 3px solid $primary-color;
      border-bottom: 3px solid $primary-color;
      // border-radius: 15px;
      padding: 20px;
      margin-bottom: 10px;
      // box-shadow: 0 2px 5px rgba(128, 128, 128, 0.2);
      // background-color: lightgreen;
    }

    .outras-container {
      display: grid;

      gap: 10px;
      .outras {
        // display: flex;
        // background-color: white;
        word-wrap: break-word;
        border-bottom: 1px dotted black;
        // border-radius: 5px;
        padding: 10px 20px;
        // border-bottom: ;
        // box-shadow: 0 2px 5px rgba(128, 128, 128, 0.2);
        // width: 41%;

        .head-of-article {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

.tempo {
  // border-radius: 5px;
  // background-color: rgba(128, 128, 128, 0.144);
  margin: 0;

  padding: 15px;
  padding-top: 0;
  // background: linear-gradient(45deg, rgb(30, 110, 185), rgb(2, 175, 218));
  // box-shadow: 0 5px 9px rgba(128, 128, 128, 0.5);
  // color: white;
  width: 20vw;
  min-height: 75vh;
  max-height: 100vh;
  font-weight: 300;
  overflow-y: hidden;
}
